.Core {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: var(--background);
  font-family: 'freight-sans-pro', sans-serif;
  font-weight: 500;
  min-height: 100vh;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
