.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #2f0e07;
  color: #ffffff;

  &__one {
    display: flex;
  }

  &__logo {
    display: block;
    width: 100px;
    height: 50px;
    margin-right: 2rem;
    margin-top: 10px;
    background-image: url('../img/logotype.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__nav {
    flex: auto;
  }

  &__copyright {
    clear: both;
  }
}
