.Header {
  background: #fff;

  /* box-shadow: 0 0 3px 0 rgba(30, 30, 30, 0.6); */
  position: relative;

  &__container {
    display: flex;
  }

  &__nav {
    flex: auto;
  }

  &__logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    display: block;
    height: 136px;
    left: calc(-1 * (136px + 20px));
    position: absolute;
    top: 4px;
    width: 136px;
    z-index: var(--layer-logo);
  }
}
