.NowAndNext {
  background-color: #f04c37;
  color: #fff;
  cursor: pointer;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  text-decoration: none;

  &__heading {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.NowAndNextRoot {
  display: block;

}
