.Schedule {
  display: flex;

  &__days {
    flex: auto;
  }

  &__scroll {
    width: 3600px;
  }

  &__scroll-container {
    overflow-x: scroll;
    padding-bottom: 1.3rem;
  }
}

.ScheduleSingleContainer {
  min-height: 132px;
}
