@lost gutter 30px;

.ShowsGrid {
  list-style: none;
  margin: 0;
  padding: 0;

  &__grid {
    list-style: none;
    lost-utility: clearfix;
    margin: 0;
    padding: 0;
  }

  &__item {
    lost-column: 1/1;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 560px) {
      lost-column: 1/2;
    }

    @media screen and (min-width: 800px) {
      lost-column: 1/3;
    }
  }

  &__anchor {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(30, 30, 30, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 120px;
    justify-content: center;
    padding: 0.3rem;
    text-decoration: none;
    transition: transform 300ms ease;
    width: 100%;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__description {
    color: #757575;
    font-size: 0.9em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: center;
  }

  &__logo {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }

  &__title {
    flex: 1;
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
  }
}

.ShowsGrid__item--tone-dark .ShowsGrid__anchor {
  color: var(--show-tone-dark);
}

.ShowsGrid__item--tone-light .ShowsGrid__anchor {
  color: var(--show-tone-light);
}
