.ShowNav {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;

  &__item {
    margin-bottom: 0.2rem;

    & > a {
      display: block;
      text-decoration: none;
      padding: 0.25rem 0;
      color: #212121;
    }

    &--active {
      & > a {
        font-weight: 600;
      }
    }

    &--active-child {
      font-weight: 600;
    }
  }

  &__item-icon {
    display: inline-block;
    width: 1.5rem;
    font-size: 1rem;
  }

  &__social-facebook {
    & > a {
      color: facebook-color;
    }
  }

  &__social-twitter {
    & > a {
      color: twitter-color;
    }
  }

  &__social-youtube {
    & > a {
      color: youtube-color;
    }
  }

  &__social-mixcloud {
    & > a {
      color: mixcloud-color;
    }
  }

  &__social-soundcloud {
    & > a {
      color: soundcloud-color;
    }
  }
}
