@lost gutter 30px;

.shows-grid {
  margin: 0;
  padding: 0;
  list-style: none;

  &__grid {
    margin: 0;
    padding: 0;
    list-style: none;
    lost-utility: clearfix;
  }

  &__item {
    lost-column: 1/1;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 560px) {
      lost-column: 1/2;
    }

    @media screen and (min-width: 800px) {
      lost-column: 1/3;
    }
  }

  &__anchor {
    display: flex;
    width: 100%;
    height: 120px;
    flex-direction: row;
    padding: 0.3rem;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(30, 30, 30, 0.2);
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__description {
    font-size: 0.9em;
    color: #757575;
    text-align: center;
  }

  &__logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    flex: 1;
    margin: 0;
    text-align: center;
    font-size: 1.6rem;
  }
}

.shows-grid__item--tone-dark .shows-grid__anchor {
  color: var(--show-tone-dark);
}

.shows-grid__item--tone-light .shows-grid__anchor {
  color: var(--show-tone-light);
}
