.Slider {

  &__frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &__slides {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  & li {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    white-space: normal;
  }

}
