{% load static wagtailuserbar %}
{% load webpack_asset %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <script src="https://use.typekit.net/yge2nqu.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }} · {% else %}{{ self.title }} · {% endif %}{% endblock %}{% block title_suffix %}{% endblock %}URF</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include 'branding-meta.html' %}
    <link href="{% webpack_asset 'main.css' %}" rel="stylesheet" />
  </head>

  <body class="core {% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    {% include 'global-announcement.html' %}
    {% include 'header.html' %}

    {% block bespoke_content %}
      <div class="container core__content">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% include 'footer.html' %}

    {% if settings.server.AnalyticsSettings.ga_property_id != '' %}
    <script type="text/javascript">
      !function(U,R,F){U.GoogleAnalyticsObject=F;U[F]||(U[F]=function(){
        (U[F].q=U[F].q||[]).push(arguments)});U[F].l=+new Date;var s=R.createElement('script'),
        e=R.scripts[0];s.src='//www.google-analytics.com/analytics.js';
        e.parentNode.insertBefore(s,e)}(window,document,'ga');

      ga('create', '{{ settings.server.AnalyticsSettings.ga_property_id }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

    <script type="text/javascript" src="{% webpack_asset 'main.js' %}"></script>
  </body>
</html>
