  <header class="header">
    <div class="container">
        <a href="/">
            <div class="header__logo"></div>
        </a>

        <nav class="header__nav">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="/shows">Shows</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="/schedule">Schedule</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">News & events</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">About us</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Get involved</a>
                </li>
            </ul>
        </nav>

        <div class="now-and-next"></div>
  </div>
</header>
