  <header class="header">
    <div class="container header__container">
        <a href="/">
            <div class="header__logo"></div>
        </a>

        <nav class="header__nav">
            <ul class="header-nav">
                <li class="header-nav__item">
                    <a class="header-nav__link" href="/shows">Shows</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="/schedule">Schedule</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="/news-and-events">News & events</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">About us</a>
                </li>
                <li class="header-nav__item">
                    <a class="header-nav__link" href="#">Get involved</a>
                </li>
            </ul>
        </nav>

        <a class="now-and-next" href="/player">
          <div class="now-and-next__heading">Listen</div>
          <div class="now-and-next__now">Now: Punch The Line</div>
        </a>
  </div>
</header>
