  <header class="Header">
    <div class="Container Header__container">
        <a href="/">
            <div class="Header__logo"></div>
        </a>

        <nav class="Header__nav">
            <ul class="HeaderNav">
              {% for item in settings.server.MenuSettings.header_menu.items.all %}
                <li class="HeaderNav__item">
                    <a class="HeaderNav__link" href="{{ item.page.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </nav>

        <div class="NowAndNextRoot"></div>
  </div>
</header>
