.header {
  background: #ffffff;
  box-shadow: 0 0 3px 0 rgba(30, 30, 30, 0.6);
  position: relative;

  &__logo {
    display: block;
    width: 136px;
    height: 136px;
    top: 4px;
    position: absolute;
    left: calc(-1 * (136px + 20px));
    background-image: url('../img/logo.png');
    background-size: contain;
  }
}
