.now-and-next {
  background-color: #f04c37;
  color: #ffffff;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;

  &__heading {
    text-transform: uppercase;
    font-weight: 600;
  }
}
