.show-header {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  &--tone-dark {
    color: rgba(0, 0, 0, 1);

    & .show-header__title a {
      color: rgba(0, 0, 0, 1);
    }
  }

  &--tone-light {
    color: rgba(255, 255, 255, 1);

    & .show-header__title a {
      color: rgba(255, 255, 255, 1);
    }
  }

  &__title {
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;

    & > a {
      text-decoration: none;
    }
  }

  &__title--logo {
    & > img {
      width: 100%;
    }
  }

  &__details {
    flex: 1;
    padding-left: 1rem;
  }

  &__short-description {
    font-weight: 500;
    font-size: 1.6rem;
    padding-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding-right: 20%;

    & p {
      margin: 0;
    }
  }

  &__schedule {
    font-weight: 600;
    font-size: 1.6rem;

  }
}
