@font-face {
  font-family: iconfont;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/iconfont.ttf?ulbhuh') format('truetype'), url('../fonts/iconfont.woff?ulbhuh') format('woff'), url('../fonts/iconfont.svg?ulbhuh#iconfont') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: iconfont;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-twitter:before {
  content: '\74';
}

.icon-facebook:before {
  content: '\66';
}

.icon-youtube:before {
  content: '\79';
}

.icon-soundcloud:before {
  content: '\73';
}

.icon-mixcloud:before {
  content: '\6d';
}
