{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}
<div class="Container">
  <h1>{{ page.title }}</h1>
  <div>
    {{ page.intro|richtext }}
  </div>

  <ul class="TeamList">

    {% for team_member in page.team_members.all %}
    <li class="TeamList__item TeamMember">
      {% if team_member.picture %}
      {% image team_member.picture width-400 as picture %}
      <img class="TeamMember__image" src="{{ picture.url }}" alt="{{ team_member.name }}">
      {% else %}
      {% endif %}
      <div class="TeamMember__info">
        <div class="TeamMember__name">{{ team_member.name }}</div>
        <div class="TeamMember__job-title">{{ team_member.job_title }}</div>
        <div class="TeamMember__bio">{{ team_member.bio }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
