{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block content %}

<h1>{{ page.title }}</h1>
<div>
    {{ page.intro|richtext }}
</div>

<ul class="shows-grid">

  {% regroup page.active_shows by name_group as letter_list %}

  {% for group in letter_list %}
    <li class="shows-grid__group">
      <h2>{{ group.grouper }}</h2>
      <ul class="shows-grid__grid">
        {% for show in group.list %}
          <li class="shows-grid__item shows-grid__item--tone-{{ show.tone_from_accent }}">
            <a class="shows-grid__anchor" href="{{ show.url }}" style="{{ show.generate_branding_style }}">
              {% if show.logo %}
              {% image show.logo width-400 as show_logo %}
              <img class="shows-grid__logo" src="{{ show_logo.url }}" alt="{{ show.title }}">
              {% endif %}
              <h1 class="shows-grid__title {% if show.logo %} srt {% endif %}">{{ show.title }}</h1>
            </a>
            <p class="shows-grid__description">{{ show.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}

</ul>

{% endblock %}
