{% extends "base.html" %}

{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load show_tags %}

{% block bespoke_content %}
{% get_show page as show %}
<div class="Core__content">
  <div class="ShowHeader ShowHeader--tone-{{ show.tone_from_accent }}" style="{{ show.generate_branding_style }}">
    <div class="ShowHeader__container Container">
      {% if show.logo %}
        {% image show.logo width-400 as show_logo %}
        <h1 class="ShowHeader__title ShowHeader__title--logo">
          <a href="{{ show.url }}">
            <img src="{{ show_logo.url }}" alt="{{ show.title }}">
          </a>
        </h1>
      {% else %}
        <h1 class="ShowHeader__title ShowHeader__title--text">
          <a href="{{ show.url }}">{{ show.title }}</a>
        </h1>
      {% endif %}
      <div class="ShowHeader__details">
        <div class="ShowHeader__schedule">{{ show.get_human_time }}</div>
      </div>
    </div>
    <div class="ShowHeader__nav ShowNav"  style="{{ show.generate_branding_style_secondary }}">
      <div class="Container ShowNav__container">
        <div class="ShowNav__main">
          <ul class="ShowNav__list">
            <li class="ShowNav__item {% if page.url == show.url %} ShowNav__item--active{% endif %}">
              <a href="{{ show.url }}">About</a>
            </li>
            {% for child in show.get_children.live %}
              <li class="ShowNav__item {% if page.url == child.url %} ShowNav__item--active{% endif %}">
                <a href="{{ child.url }}">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% include 'shows/show_social_partial.html' %}
      </div>
    </div>
  </div>
  <div class="ShowContent">
    <div class="Container">
      {% block card_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
